*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:linear-gradient(90deg, rgb(128, 6, 128), rgb(29, 89, 240)) ;
}

.music-box{
    background: linear-gradient(90deg, rgb(237, 147, 237), rgb(89, 132, 240));
    height:70%;
    margin:50px auto;
    width:25%;
    display:flex;
    flex-direction: column;
    box-shadow:2px 2px 5px rgb(59, 58, 58)  ; 
    border-radius: 8px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color:rgb(52, 51, 51);
    padding:20px 10px;
}

.song-image{
    width:190px;
    height:190px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 1px 1px 2px rgb(100, 100, 100);
    margin:10px;
}
.nav{
    display:flex;
    justify-content: space-around;
    width:100%;
    margin-bottom: 20px;
}
.btn{
    color:rgb(71, 71, 71);
    cursor:pointer;
    font-size:22px;
}
.play{
    color:rgb(64, 64, 64)
}
.song-name{
    font-size:16px;
    font-weight: bold;
}
.singer{
    margin-top:5px;
    font-size:15px;
    font-weight: bold;
}


.title{
    font-size:18px;
    font-weight: bold;
}

.timeline{
    display:flex;
    align-items: center;
    width:90%;
    justify-content: center;
    margin-top:10px;
}

.song-timeline{
   height:5px;
   width:90%;
   border:1px solid black;
   margin:10px;
   border-radius: 5px;
   display: inline-block;
   box-shadow: 1px 1px 2px rgb(169, 169, 169);
   cursor:pointer;
   background-color: white;
}

.itimeline{
    width:0%;
    height:2.9px;
    background:rgb(0 117 255);
    border-radius:5px;
}

.start-time,  .end-time{
    font-size: 14px;
    font-family:Helvetica;
    font-weight: bold;
}
.my-form {
    display:flex;
    margin:35px 0px;
    align-items: center;
}

#vol{

height:4px;
}

form{
    margin:0px 10px;
}
